<h1>All Patients at: <%= link_to "#{@hospital.name}", hospital_path(@hospital.id) %></h1>

<% @hospital.patients.each do |patient| %>
   <p>Name: <%= patient.name %> Age: <%= patient.age %></p>
<% end %>
