<h1> Hospital's Patients </h1>

<p><% @hospital.doctors.each do |doctor| %></p>
  <p><% doctor.doctor_patients.each do |doctor_patient| %></p>
   <p><%= doctor_patient.patient.name %></p>
  <% end %>
<% end %>
