  <h1>Update Pet</h1>
  <%= form_tag "/doctors/#{@doctor.id}", method: :patch do %>

      <%= label_tag :hospital_id, "Hospital ID" %><br>
      <%= text_field_tag :hospital_id%><br>

    <%= submit_tag "Submit" %>
  <% end %>

