<h3>Change Doctors Hospital</h3>

<%= form_tag "/doctors/#{@doctor.id}", method: :patch do  %>
  <%= label_tag "Hospital Id "%>
  <%= text_field_tag :hospital_id %>
  <%= submit_tag "Add #{@doctor.name} to this hospital" %>
<% end %>
